@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---starship: #F3DB4C;
  ---mineshaft: #343434;
  ---husk: #B2A443;
  ---sycamore: #94843C;
  ---white: #fff;
  ---padding: 8px;
  ---margin: 10px;
  ---transition: 1s;
  ---max-witdh: 1400px;
  ---border-radius: 5px
}

::selection {
  background: var(---starship);



}

body {
  font-family: "Open Sans", sans-serif;
  background: var(---mineshaft);
  color: var(---starship);
  line-height: 24px;
}

header {
  text-align: center;
  border-bottom: solid 1px var(---sycamore);
  margin-bottom: var(---margin);
}

section {
  padding: var(---padding);
}

a {
  color: var(---husk);
  text-decoration: none;
}

h1,
h2 {
  padding: var(---padding);
}

p {
  font-size: 1rem;
  margin: 0 0 var(---margin);
  color: var(---white);
}

p::first-letter {
  font-size: 1.4rem;
  color: var(---starship);
  font-weight: 700;
}

ul {
  list-style: none;
}

ul.list>li.item {
  cursor: pointer;
}

li.item:hover a {
  color: var(---mineshaft)
}

.container {
  max-width: var(---max-witdh);
  margin: 0 auto;
  padding: var(---padding);
}

.search {
  
}

.card {
  width: 450px;
  border: solid 1px var(---husk);
  border-radius: var(---border-radius)
}

.card__title {
  text-wrap: wrap;
  word-break: break-all;
}

.card__body {
  padding: var(---padding);
}

.card__img {
  width: 100%;
}

.card__paragraph {
  padding: var(---padding);

}

.button {
  background: var(---starship);
  color: var(---mineshaft);
  padding: var(---padding);
  border-radius: var(---border-radius);
  font-size: 16px;
  font-weight: 600;
  border: solid 1px var(---starship);
  display: inline-flex;
  align-items: center;
}

.button__text {
  background-color: var(---mineshaft);
  color: var(---mineshaft);


}

.button__icon {
  font-size: 1, 4rem;
}

.list {
  text-align: center;
  padding: var(---padding);
}

.item {
  border-bottom: add 1px var(---husk);
  padding: var(---padding);
  transition: var(---transition);


}